<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <%# <ul class='lists-left'>
      <li><%= link_to 'カテゴリー', "#", class: "category-list" %></li>
      <%# <li><%= link_to 'ブランド', "#", class: "brand-list" %></li>
    <%# </ul> %> 
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <p><%= link_to current_user.nickname, "#", class: "user-nickname" %></p> 
        <p><%= link_to 'LogOUT', destroy_user_session_path, method: :delete, class: "logout" %></p> 
        <p><%= link_to 'Supermarket', supermarkets_path, class: "supermarket" %></p>  
        <p><%= link_to 'Mypage', items_path, class: "mypage" %></p> 
        <%# <li><%= link_to 'WantedList', destroy_user_session_path, method: :delete, class: "wanted" %></li> 
        <%# <li><%= link_to 'Category', destroy_user_session_path, method: :delete, class: "category" %></li>  
      <% end %>
    </ul>
  </div>
</header>