<div class="items-contents">

  <div class="items-main">

    <div class= "Account__info">


      <div style="display:flex; justify-content: center;">
        <b class='fruit'>📝</b>
          <h1 style='color:sandybrown; vertical-align:center;'>
              Edit ExistList
          </h1>
        <b class='fruit'>🖌</b>
      </div>
    
      <div class="Account_link">
        <%=link_to '⇨ back to ExistList', items_path(current_user), class:"share4" %>
      </div>

    </div>




    <%= form_with model: @item , local: true do |f| %>
    
    <%# エラー表示 %>
      <%= render 'layouts/error_messages', model: f.object %> 
    <%# /エラー表示 %>
     
      <div class="new-items">
          <h3>< Tell about what's in your refrigerater ></h3>
        <div class = "post">
          <div class="items">
            <div class="weight-bold-text">
              <strong>* Food</strong>
              <span class="indispensable"> <br><em>10 maximum </em><br/></em><br/> </span>
            </div>
            <%= f.text_area :thing, class:"items-thing", id:"item-thing", placeholder:"Plase fill out" %>
          </div>
          <div class="items">
            <div class="weight-bold-text">
              <strong>* Category</strong>
            </div>
            <div class = "select-category">
              <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"items-collection", id:"item-prefecture"}) %>
            </div>
          </div>
          <div class="items">
            <div class="weight-bold-text">
              <strong>* Expiry date</strong>
            </div>
            <div class = "select-date">
              <%= f.date_select :expiry, 
                    class:"items-date",
                    prompt:'--',
                    start_year: 2021,
                    end_year: (Time.now.year + 10) %>
            </div>
          </div>
          <div class="items">
            <div class="weight-bold-text">
              <strong>Explanation</strong>
              <br><em> 100 maximum </em><br />
            </div>
            <%= f.text_area :explanation, class:"items-text", id:"item-explanation", placeholder:"Please fill out" %>
          </div>
        </div>
       
      </div>

      <%# 下部ボタン %>
      <div class="items-btn-contents" >
          <%= f.submit "+++ Update a list of things in the fridge " ,class:"new-item-btn" , style:'border:1px solid #FF6633'%>
      </div>
      <%# /下部ボタン %>
    
    <% end %>
  </div>
</div>