<%= render "shared/header" %>

<div class="items-contents">
  <div class="AccountPage">
    <div class="Account__info">
    
        <h1 style='color:sandybrown;'>ExistList</h1>
   

    </div>
  
    <div class='item1-contents'>
      <div class="item_＿info">
        <h3>🍍🥕 Check  <b><%= link_to current_user.nickname, "#", class: "nickname" %></b>'s stored food ! 🥐🍓</h3>

      </div>
       
      <div class = "list">
        <% @items.each do |item| %>
          

          <% if current_user == item.user %> 

            <div class = "listlistlist" style='background-color:sandybrown;'>

              <ul class= "list-list"> 
                <li class='show-list'>  
                  <div class='item-info'>
                    <h3 class='item-name'>
                      <%= link_to item.thing,item_path(item.id), method: :get %>
                    </h3>
                    <p><%=  item.category.name  %></p>

                      <% if item.expiry < Date.today then%>
                        <p><%= item.expiry %>
                          <span class="expired" style="color:white;">  Expired !!</span>
                        </p>
                      <% elsif item.expiry == Date.today then%>
                        <p><%= item.expiry %>
                        <span class="today" style="color:white;">＊ until Today ＊</span>
                        </p>
                      <% else %>
                        <p><%= item.expiry %></p>
                      <% end%>
                    
                  </div>   
                </li>
              </ul>

              <ul class="more_list">
                <% if user_signed_in? %>          
                  <% if current_user == item.user %>  
                    <div class = "edit1-destroy1">
                      <%= link_to "📝", edit_item_path(item.id), method: :get, class: "item-edit" %> or <%= link_to "❌", item_path(item.id), method: :delete, class:"item-destroy" %>
                    </div>
                  <% end %> 
                <% end %> 
              </ul>  

            </div>
            
        

          <% end %>  
      
        <% end %> 
 
         
      </div>
      
      <div class="new-button" style='border:1px solid #FF6633'>
        <%= link_to "+ Add StoredFood 🍭🥖", new_item_path%>
      </div>
    </div>
    
    <%= render "shared/footer" %>

  </div>
</div>